@model SAHL.Services.Web.CommandService.Models.PageModel
@{
    ViewBag.Title = "All Metrics";
    this.Layout = "~/Views/Shared/_MetricsLayout.cshtml";
}

@section header{
    All Command Service Request Metrics
}

<div id="ajaxContent"></div>

@section content{
    <ul class="pages">
    <li>Page</li>
    @for (int i = 0; i < this.Model.TotalPageCount; i++)
    {
        <li @MetricData.IsSelected(this.Model.PageNumber,i) >@Html.ActionLink((i+1).ToString(),"Page",new {page = i})</li>
    }
    </ul>
    @Html.Partial("_SelectedCommands", this.Model)
}
@section scripts{
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/Graphing")
@Scripts.Render("~/bundles/jqueryui")
<script>
    $(document).ready(function () {
        $(".command>li>a").first().click();
    });
    function CallComplete(){
        var totalCount = $("#container").data().count;
        $(".ui-dialog-titlebar").removeClass('ui-widget-header');
        $(".dough").each(function () {
            $(this).Doughnut([{ name: "Number Of Requests", value: $(this).data("field") }], totalCount);
        });
        $(".analytics").each(function () {
            $(this).Analytics($(this).data("field"));
        });
    }
</script>
}