@using System.Collections;
@using System.Collections.Generic;

<!-- CSS goes in the document HEAD or added to your external stylesheet -->
<style type="text/css">
    table.gridtable {
        color: #333333;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
    }

        table.gridtable th {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #dedede;
        }

        table.gridtable td {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
        }
</style>
<body>
    <h3>Dear @Model.RecipientName</h3>
    <p>
        Please be advised that the following invoice(s) have been scheduled for payment:
    </p>

    <table class="gridtable">
        <thead>
        <th>Account Number</th>
        <th>Reference Number</th>
        <th>Invoice Value</th>
        </thead>
        <tbody>
            @foreach (var invoicePayment in Model.InvoicePayments)
            {
                <tr>
                    <td>@invoicePayment.AccountNumber</td>
                    <td>@invoicePayment.InvoiceReferenceNumber</td>
                    <td align="right">R @invoicePayment.InvoiceTotalAmount</td>
                </tr>
            }
            <tr>
                <td colspan="3" align="right">R @Model.TotalScheduledForPayment</td>
            </tr>
        </tbody>
    </table>

<p>For queries, please contact 031-576 5797.</p>

<p>Thank You.</p>

<p>
    Legal Fee Consultant<br/>
    <strong>SA Home Loans (PTY) Ltd</strong>
</p>
</body>