@model SAHL.Core.UI.Halo.Tiles.MortgageLoanAccount.Default.MortgageLoanAccountMinorTileModel
      <span class="badge badge-pale minor-tile-icon">
            <span class="badge sahl-open"><i class="icon-home"></i> <i class="icon-random"></i></span>
                <img src="~/Content/sahl/images/halo_icon/originationsource_sahl.png" />
      </span>
@Html.TitleWithDescriptionFor(y => y.AccountNumber, x => x.PropertyAddress)
@Html.DisplayLabelModelPairFor("Agreement", x => x.LoanAgreementAmount)
@Html.DisplayLabelModelPairFor("Balance", x => x.LoanCurrentBalance)
@Html.DisplayLabelModelPairFor("Arrear Balance", x => x.LoanArrearBalance)
@Html.DisplayLabelModelPairFor("Debit Order Day", x => x.DebitOrderDay)
@Html.DisplayLabelModelPairFor("Payment", x => x.InstallmentAmount)
@Html.DisplayLabelModelPairFor("Remaining Term", x => x.RemainingInstalments)
