<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">@RenderSection("header", required: false)</p>
            </div>
            <nav>
                <ul id="menu">
                    <li>@Html.ActionLink("Home","Index")</li>
                    <li>@Html.ActionLink("All Requests","All")</li>
                    <li>@Html.ActionLink("Logging","","Logging")</li>
                    @if (this.Context.Request.Url.AbsolutePath.ToUpper().Contains("DOMAIN")){
                    <li>@Html.ActionLink("Documents","","Docs")</li>
                    }
                </ul>
            </nav>
        </div>
    </header>
    <div id="body">
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    @if (IsSectionDefined("content"))
    {
    <div id="footer">
        <section class="content-wrapper main-content clear-fix">
            @RenderSection("content", required: false)
        </section>
    </div>
    }
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>